<h2>All Historical Landmarks</h2>

<% Landmark.all.each do |l| %>
  <ul>
    <li><%=l.name%><br><%=l.year_completed%></li>
  </ul>
<% end %>

<a class="button" href="/figures">Figures</a>
<a class="button" href="/">Home</a>
